<%- include('../_layouts/header') %>


<a href='/diary/page/<%= pageno %>' class="btn btn-primary">Back</a>
<div class="col-sm-1 pull-right">
<a class="btn btn-danger"  onclick="deleteThis('<%= id %>')" data-toggle="modal" data-target="#deleteStoryModal"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;Delete </a>
</div>
<a class="btn btn-info pull-right" href="/diary/edit/<%= id %>?pageno=<%= pageno %>"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp; Edit </a>
<br><br>
<hr>
<div class="container-fluid story-div">
    <%- content %> 
</div>

<!-- Modal -->
<div id="deleteStoryModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
             
              <h4 class="modal-title alert alert-danger">Confirm Deletion</h4>
            </div>
            <div class="modal-body">
              <p>Story once deleted cannot be recovered</p>
            </div>
            <div class="modal-footer">
               
                <a type="button" id="confirmDeleteBtn" href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete</a>
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>
<%- include('../_layouts/footer') %>